@font-face
{
	font-family:skd;
	src:url('../fonts/skd.ttf');	
}
/* -------------------   Body Section  -------------  */
body
{
	background-image: url("../img/back.jpg");
	font-family: skd !important;
	letter-spacing: 1px;
	color:white !important;
	background-size:cover;
}
body a:visited
{
    color: white;
}

/* -------------------   Header Section  -------------  */
header
{
	background-color:rgba(0, 0, 0, 0.85);
	color:white;
	width:100%;
	position:fixed;
	z-index:1;
}
.skd-logo
{
	padding:2%;
}
.nav ul
{
	list-style:none;
	text-align:right;
	padding-top:3%;
}
.nav li
{
	display:inline;
	padding-right:12%;
	font-size:20px;
}
.nav a
{
	color:white;
}
.nav a:hover
{
	color:white;
	text-decoration:none;
}
@media only screen and (max-width: 600px){
	.nav li
	{
		display:inline;
		padding-right:8%;
		font-size:16px;
	}
}
.nav2 ul
{
	list-style:none;
	text-align:center;
}
.nav2 li
{
	display:inline;
	padding:2%;
	font-size:16px;
	background-color: rgba(6, 68, 67, 0.74);
}
.nav2 a
{
	color:white;
}
.nav2 a:hover
{
	color:#00c1c1;
	text-decoration:none;
}
@media only screen and (max-width: 600px){
	.nav2 li
	{
		display:inline;
		padding-right:1%;
		font-size:12px;
	}
}
/* -------------------   Footer Section  -------------  */
footer
{
	background-color:rgba(0, 0, 0, 0.85);
	width:100%;
	position:fixed;
	z-index:1;
	bottom:0;
	color:white;
	padding-top:1%;
}
#des
{
	text-align:right;
}
#des a
{
	color:#00c1c1;
	text-decoration:none;
	text-shadow:0px 0px 2px #004949;
}
.main
{
	font-family:skd1;
	src:url(../fonts/skd1.ttf);
	background-color:rgba(0, 0, 0, 0.8);
	padding:2%;
	margin-top:135px;
}
.skd-main
{
	background-color:rgba(0, 0, 0, 0.8);
	padding:2%;
	text-align:justify;
	margin-top:135px;
}
#login
{
	float:left;
	width:50%;
	color:white;
}
#signup
{
	float:right;
	width:50%;
	color:white;
}
.submit
{
	text-align:center;
}
.form-title
{
	text-align:center;
	font-family:skd;
	src:url(../fonts/skd.ttf);
	text-shadow:0px 1px 5px #00c1c1;
}
.skd-text
{
	text-shadow:0px 1px 5px #00c1c1;
}
.center
{
	text-align:center;
}
.skd-info
{
	font-family:skd;
	src:url(../fonts/skd.ttf);
}
.skd-color
{
	color:#00c1c1;
	text-shadow:3px 3px 12px #00c1c1;
}
.skd-red
{
	color:#cc0000;
	text-shadow:3px 3px 12px #cc0000;
}
.skd-alert
{
	position:absolute;
	z-index:23;
	top:100px;
	left:20%;
	right:20%;
	text-align:center;
}
.skd-file-icon
{
	text-align:center;
	cursor:pointer;
	font-size:60px;
}
.skd-file
{
	visibility:hidden;
}
.skd-profile
{
	padding:5%;
	text-align:center;
	margin:auto;
}
.skd-table
{
	width:80% !important;
	margin:0 auto !important;
}
.skd-right
{
	width:50% !important;
	text-align:right;
}
.skd-link a
{
	color:#00c1c1 !important;
}
.skd-edit a
{
	color:#00c1c1;
}
.skd-delete a
{
	color:red;
}
.skd-edit a:visited
{
	color:#00c1c1;
}
.skd-delete a:visited
{
	color:red;
}